<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">


        <h2>Resend unlock instructions</h2>

        <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <%= f.full_error :unlock_token wrapper: false %>

          <div class="field">
            <div class="control">
              <%= f.input :email, required: true, autofocus: true, 
              input_html: { autocomplete: "email", class:"input" },
              label_html: {class:"label"}, wrapper: false %>
            </div>
          </div>


          <div class="form-actions">
            <%= f.button :submit, "Resend unlock instructions" class:"button is-info is-medium" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
